{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add a new category</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

    <h2>Category already exist :</h2>
    {% for category in categories %}
        <li>{{ category.name }}</li>
    {% endfor %}
{% endblock %}